body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(65deg, #531053a4, #940826);
    color: white;
}
nav {
    background-color: #900dab;
}
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(45deg, #860c26, #67077a);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 10px 20px;
    background-color: #900dab;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

/* Ensure no conflicts with Bootstrap classes */
.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.nav-link {
    border-radius: 10px;
    padding: 10px;
    transition: background 0.3s;
}

.nav-link:hover {
    background: linear-gradient(45deg, #4e115b, #a30729);
    color: white;
    font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
    .hero {
        padding: 50px 20px;
    }
}
